<?php
/**
 * 共通構成ファイル
 *
 * @package tweetie2photozou
 */

/**
 * アプリケーションのルートディレクトリのパス
 * 終端のスラッシュはつけない
 *
 * @const string
 */
define('T2P_APP_ROOT', dirname(dirname(__FILE__)));

/**
 * ログファイルを保存するディレクトリ
 * 終端のスラッシュはつけない
 *
 * @const string
 */
define('T2P_LOG_DIR', T2P_APP_ROOT . '/log');

/**
 * 画像を一時的に保存するディレクトリ
 * 終端のスラッシュはつけない
 *
 * @const string
 */
define('T2P_UPLOAD_DIR', T2P_APP_ROOT . '/uploads');

/**
 * ドキュメントルートのパス
 * 終端のスラッシュはつけない
 *
 * @const string
 */
define('T2P_DOC_ROOT', realpath(dirname(__FILE__) . '/../../htdocs'));

/**
 * ルートURI
 * スラッシュで終わるURIであること
 *
 * @const string
 */
define('T2P_ROOT_URI', 'https://example.com/');

/**
 * ハッシュのsalt
 *
 * @const string
 */
define('T2P_SALT', 't2p');

/**
 * trueならファイルのExif情報、falseなら受信した日を撮影日として扱う
 *
 * @const bool
 */
define('T2P_USE_EXIF', true);

/**
 * 現在のところマルチアカウントはサポートしていないので常にfalse
 *
 * @const bool
 */
define('T2P_MULTI_ACCOUNT', false);

/**
 * デバッグモード。trueならT2P_APP_ROOT/logにPOSTされたデータとAPIレスポンスを書き出す
 *
 * @const bool
 */
define('T2P_DEBUG', false);

/*
 * Local Variables:
 * mode: php
 * coding: utf-8
 * tab-width: 4
 * c-basic-offset: 4
 * indent-tabs-mode: nil
 * End:
 */
// vim: set syn=php fenc=utf-8 ai et ts=4 sw=4 sts=4 fdm=marker:
